<header class="header">
    <div class="header-content">

        <nav class="navigation-buttons">
            <button><a routerLink="/resume/" routerLinkActive="active" class="glitch-effect" data-text="About"> About </a></button>
            <button><a routerLink="/works/" routerLinkActive="active" class="glitch-effect" data-text="Works"> Works </a></button>
            <button><a routerLink="/resume" routerLinkActive="active" class="glitch-effect" data-text="Contact"> Contact </a></button>
            <button><a routerLink="/admin/" routerLinkActive="active" class="glitch-effect" data-text="Login"> Login </a></button>
        </nav>

        <h1 class="glitch-auto" 
            routerLink="/" 
            [attr.data-text]="currentTitle"
            routerLinkActive="active">
            {{ currentTitle }}
        </h1>

    </div>
</header>