<div class="experiences-display">
    <h1> Professional experiences</h1>

    <div *ngIf="experiences_list.length === 0" class="alert alert-info">
        No professional experiences added yet.
      </div>

    <div class="experience-list">
        <div *ngFor="let exp of experiences_list" class="experience-item">
            <div class="experience-header">
                <h3 class="experience-date">
                  {{ formatDate(exp.start_date) }} - {{ exp.current ? 'Present' : formatDate(exp.end_date) }}
                </h3>
                <h3 class="experience-title">{{ exp.position }}</h3>
                <h3 class="experience-company">at {{ exp.company }}</h3>
                <h4 class="experience-location">{{ exp.location }}</h4>
              </div>
              <p class="experience-description">{{ exp.description }}</p>
              <hr>
            </div>
          </div>
    </div>

