<header class="admin-header">
    
    <div class="logo">
        <a routerLink="/"> PORTFOLIO </a>
    </div>
    
    <nav class="admin-navigation-buttons">

        <button><a routerLink="/" routerLinkActive="active"> Home </a></button>
        <button><a routerLink="/admin/personal-infos" routerLinkActive="active"> Profile </a> </button>
        <button><a routerLink="/admin/experiences" routerLinkActive="active"> Add Experiences </a> </button>
        <button><a routerLink="/admin/educations" routerLinkActive="active"> Add Formations </a> </button>
        <button><a routerLink="/admin/projects" routerLinkActive="active"> Add Projects </a> </button>

    </nav>
</header>
