<main class="home-container">
    
    <div class="right-rectangle"></div>
    
    <div class="about-me-title">

        <div class="about-me-title-part-1">A</div>

        <div class="about-me-title-part-2">

            <div class="about-me-title-corps">BOUT ME</div>
            
            <div class="banner">
                <div class="banner-content">
                    <span class="banner-text">&nbsp;DIGITAL PORTFOLIO • CREATIVE FULL-STACK DEVELOPER • DESIGNER • PARIS (UTC+2) • WITH COFFEE AND TIME • </span>
                    <span class="banner-text">&nbsp;DIGITAL PORTFOLIO • CREATIVE FULL-STACK DEVELOPER • DESIGNER • PARIS (UTC+2) • WITH COFFEE AND TIME • </span>
                    <span class="banner-text">&nbsp;DIGITAL PORTFOLIO • CREATIVE FULL-STACK DEVELOPER • DESIGNER • PARIS (UTC+2) • WITH COFFEE AND TIME • </span>
                    <span class="banner-text-spe">&nbsp;CLICK HERE • </span>
                    <span class="banner-text">&nbsp;DIGITAL PORTFOLIO • CREATIVE FULL-STACK DEVELOPER • DESIGNER • PARIS (UTC+2) • WITH COFFEE AND TIME • </span>
                </div>
            </div>
        </div>
    </div>

    <div class="bio" *ngIf="bio"> {{ bio }} </div>

</main>