<div class="blocks-wrapper">
    <div class="left-block">
        <div class="home-title left-title-block">TaB.Lo</div>
        <div class="left-bottom-area">
            <div class="left-bottom-col">
                <div class="left-middle-block">Middle Block</div>
                <div class="left-bottom-block-custom">Bottom Block</div>
            </div>
            <div class="center-left-block">
                <!-- <app-animation-particule class="full-size"></app-animation-particule> -->
                <!-- <app-point-cloud-image src="assets/images/brutal2.jpg"></app-point-cloud-image> -->
            </div>
        </div>
    </div>
    <div class="center-block">
        <div class="center-right-block">
            <app-point-cloud-image src="assets/images/brutal2.jpg"></app-point-cloud-image>
        </div>
    </div>
    <div class="right-block">
        <div class="right-top-block">
            <div class="right-top-upper" (click)="goToSchoolProjects()" style="cursor:pointer;">
                <app-sliding-shutter text="WOULD YOU LIKE TO <br> KNOW MORE?"> CLICK HERE </app-sliding-shutter>
            </div>
            <div class="right-top-lower">
                <app-moving-banner [text]="scrollingText"></app-moving-banner>
            </div>
        </div>
        <div class="right-bottom-block">
            <div class="avant-propos-container">
                Avant-propos
            </div>
            <div class="separator">
                <div class="separator-losange"></div>
                <div class="separator-line"></div>
                <div class="separator-losange"></div>
            </div>
            <div class="bio-container">
                <div class="bio" *ngIf="bio"> {{ bio }} </div>
            </div>          
            <div class="separator">
                <div class="separator-losange"></div>
                <div class="separator-line"></div>
                <div class="separator-losange"></div>
            </div>  
        </div>
    </div>
</div>