.home-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative; 
    height: 100%;
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 2%;
    gap: 1%;
}

.right-rectangle {
    position: absolute;
    /* padding: 20px; */
    right: 0;
    top: 4%;
    width: fit-content;
    height: fit-content;
    z-index: 0;
    height: 100%;
}

.point-cloud-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.about-me-title {
    display: flex;
    width: fit-content;
    flex-direction: row;
    z-index: 3;
}

.about-me-title-part-1 {
    font-family: var(--font-manufacturing-consent);
    align-items: center;
    line-height: 7rem;
    font-size: 10rem;
    z-index: 2;
}

.about-me-title-part-2 {
    margin-left: -0.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-me-title-corps {
    font-size: 5rem;
    line-height: 4rem;
    font-weight: bold;
    letter-spacing: -0.03em;
}

.banner {
    overflow: hidden;
    display: flex;
    width: 100vw;
    align-items: center;
    margin-left: -0.7%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background: #fff;
    /* opacity: 0.5; */
}

.banner-content {
    white-space: nowrap;
    animation: scroll-horizontal 40s linear infinite;
}

.banner-text {
    font-family: var(--font-title);
    font-size: 1.65rem;
    font-weight: bold;
    color: #000;
}

.banner-text-spe {
    font-family: var(--font-title);
    font-size: 1.65rem;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

@keyframes scroll-horizontal {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.banner:hover .banner-content {
    animation-play-state: paused;
}

.bio-container {
    padding: 25px;
    background-color: #000;
    width: 40%;
    margin-top: 2%;
    z-index: 1;
    opacity: 0.9;
    opacity: 0.8;
}

.bio {
    font-family: var(--font-special);
    font-size: 1.1rem;
    color: #fff;
    z-index: 1;
    line-height: 1.4;
}