.home-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    padding-top: 2rem;
    gap:2rem;
}

.about-me-title {
    display: flex;
    width: fit-content;
    flex-direction: row;
    margin-left: 12%;
    /* width: 1500px; */
    /* max-height: 160px; */
}

.about-me-title-part-1 {
    font-family: var(--font-navigation);
    align-items: center;
    line-height: 140px;
    font-size: 200px;
}

.about-me-title-part-2 {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    /* overflow: visible; */
}

.about-me-title-corps {
    font-size: 100px;
    line-height: 80px;
    margin-bottom: 0;
    padding: 0;
    font-weight: bold;
    letter-spacing: -1px;
}

.banner {
    overflow: hidden;
    display: flex;
    width: 100vw;
    align-items: center;
    /* border-left: solid 1px #000; */
    margin-left: 8px;
}

.banner-content {
    /* display: absolute; */
    white-space: nowrap;
    animation: scroll-horizontal 40s linear infinite;
}

.banner-text {
    font-family: var(--font-title);
    font-size: 46px;
    font-weight: bold;
    color: #000;
}

.banner-text-spe {
    font-family: var(--font-title);
    font-size: 46px;
    font-weight: bold;
    color: #000;
    /* margin-right: 10px; */
    cursor:pointer;
}

@keyframes scroll-horizontal {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.banner:hover .banner-content {
    animation-play-state: paused;
}

.home-bottom {
    display: flex;
    width: 100%;
    height: 100%;
    /* justify-content: end;
    align-items: flex-end; */
    flex-direction: row;
}

.bio {
    font-family: var(--font-special);
    font-size: 22px;
    width: 35%;
    margin-left: 8%;
    text-align: left;
    align-items: flex-start;
    z-index: 1;
}

.knight-image {
    position: fixed;
    right: 2vw;
    bottom: 0;
    width: 40%;
    height: 80%;
    z-index: 2;
}