.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative; 
    height: 100%;
    width: 100%;
    padding-top: 2%;
    gap: 2%;
}

.right-rectangle {
    position: absolute;
    right: 23%;
    top: 4%;
    width: 30%;
    border: 1px solid black;
    z-index: 0;
    height: calc(115% - 2%);
}

.about-me-title {
    display: flex;
    width: fit-content;
    flex-direction: row;
    margin-left: 12%;
}

.about-me-title-part-1 {
    font-family: var(--font-navigation);
    align-items: center;
    line-height: 7rem;
    font-size: 10rem;
}

.about-me-title-part-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-me-title-corps {
    font-size: 5rem;
    line-height: 4rem;
    margin-bottom: 0;
    padding: 0;
    font-weight: bold;
    letter-spacing: -0.05rem;
}

.banner {
    overflow: hidden;
    display: flex;
    width: 100vw;
    align-items: center;
    margin-left: 0.3%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    z-index: 3;
}

.banner-content {
    white-space: nowrap;
    animation: scroll-horizontal 40s linear infinite;
}

.banner-text {
    font-family: var(--font-title);
    font-size: 1.8rem;
    font-weight: bold;
    color: #000;
}

.banner-text-spe {
    font-family: var(--font-title);
    font-size: 1.8rem;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

@keyframes scroll-horizontal {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.banner:hover .banner-content {
    animation-play-state: paused;
}

.bio {
    font-family: var(--font-special);
    font-size: 1.1rem;
    width: 15%;
    margin-left: 18%;
    margin-top: 2%;
    z-index: 1;
}