:root {
  --font-title: 'Roboto', sans-serif;
  --font-normal: 'Roboto', sans-serif;
  --font-special: 'Roboto', sans-serif;
}

/* GLOBAL */

html, body {
    margin: 0;
    padding: 0;
    background: transparent;
    height: 100%;
}

body {
    background-color: black;
    font-family: var(--font-normal);
}